version: '3'

services:
  api:
    build: ./
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - database
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGO_DB_URI=mongodb://database/todo
    command: ['sh', '-c', 'yarn start']
    volumes:
      - ./src:/var/www/src

  mongo-seed:
    build: ./mongo-seed
    depends_on:
      - database

  database:
    image: mongo
    ports:
      - "27017:27017"
